Numbers are integers.

Strings are words or numbers surrounded by "" or ''.

List are list of strings or integers. They are muteable.

Tuples are immutable list.

Dictionaries are similar to list, but have key value pairs.

In [5]:
# 100.25
answer = (100.25 ** 1 * 1 + 1000 - 1000) / 1

In [6]:
answer

100.25

In [8]:
# 44, 29, 34
q1 = 4 * (6 + 5)
q2 = 4 * 6 + 5 
q3 = 4 + 6 * 5

In [13]:
q1

44

In [10]:
q2

29

In [11]:
q3

34

In [15]:
# float
float = 3 + 1.5 + 4
float

8.5

In [22]:
# square root
sqrt=4**(1/2)
sqrt

2.0

In [23]:
# square
square = 2**2
square

4

In [24]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

In [29]:
s ='hello'
# Reverse the string using slicing
s[4::-1]

'olleh'

In [30]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [31]:
# Method 2:
s[4]

'o'

In [33]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [36]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = "good bye"
list3

[1, 2, [3, 4, 'good bye']]

In [40]:
list1 = []
list1.append(0)
list1.append(0)
list1.append(0)
list1

[0, 0, 0]

In [42]:
list2 = [0, 0, 0, 0]
list2.pop()
list2

[0, 0, 0]

In [45]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [53]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [64]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [71]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [72]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [73]:
3.0 == 3

True

In [74]:
4**0.5 != 2

False

In [75]:

# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False